body {
	background-color: rgb(61, 61, 61);
	color: white;
}

#timerBox {
	border: 5px red groove;
	width: fit-content;
	height: fit-content;
	line-height: 0px;
	padding: 10px;
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: black;
	border-radius: 25px;
}

#volvo {
	position: absolute;
	border: yellow solid 5px;
	height: fit-content;
	width: fit-content;
	top: 0px;
	left: 0px;
}

#volvobox {
	border: 10px black solid;
	width: 750px;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
}